# Grok / Groq API Configuration
GROQ_API_KEY=your_groq_api_key_here
GROQ_MODEL=llama-3.3-70b-versatile

# External Tools API Keys
WEATHER_API_KEY=your_weather_api_key_here
AVIATIONSTACK_API_KEY=your_aviationstack_api_key_here
OPENROUTESERVICE_API_KEY=your_openrouteservice_api_key_here
MONGODB_URI=mongodb://127.0.0.1:27017/ai_travel_planner
PORT=3001
